*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-color: rgb(6, 86, 117);	
}

.start-btn {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 50%);
}

.start-btn button {
	font-weight: 700;
	font-size: 1.2rem;
	color: rgb(6, 86, 117);
	padding: 1.2rem 2rem;
	border-radius: .5rem;
	border: none;
}

.rule-card {
	display: none;	
	/* opacity: 0; */
	position: absolute;
	top: 15vh;
	left: 50vw; 
	transform: translate(-50%, 50%);
	background-color: aliceblue;
	border: none;
	border-radius: .5em;
}

.card-heading {
	padding: 1rem 2rem;
	font-weight: 700;
	font-size: 1.3em;
	border-bottom: 1px solid lightgrey;
}


.card-content {
	padding: 1rem 2rem;
	min-width: 600px;
}

.card-content p {
	margin-bottom: 10px;
}

.card-content span {
	color: rgb(6, 86, 117);
	font-weight: bold;
}

.card-btn {
	border-top: 2px solid lightgrey;
	padding: 0.7rem 3rem;
	display: flex;
	justify-content: end;
	gap: 10px;
}

.card-btn button{
	padding: .7rem 1.5rem;
}

.exit-btn {
	border-radius: 5px;
	border: 2px solid rgb(6, 86, 117);
	color: rgb(6, 86, 117);
	font-weight: bold;
	background-color: white;
}

.continue-btn {
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid rgb(6, 86, 117);
	background-color:  rgb(6, 86, 117);
}

.quiz-card {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: aliceblue;
	transform: translate(-50%, -50%);
	width: 550px;
	border-radius: 5px;
	
}

.quiz-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 2px lightgrey;
	padding: 10px 25px;
	
}

.quiz-header {
	font-weight: bold;
	font-size: 1.4rem;
	word-spacing: -5px;
}

.quiz-timer {
	background-color: skyblue;
	align-items: center;
	padding: .5rem .4rem;
	font-weight: 600;
	border-radius: .3rem;
	word-spacing: -6px;
}

.quiz-secs {
	color: whitesmoke;
	background-color: darkslategrey;
	padding: .2rem ;
	border-radius: .2rem;
}

.question-card {
	padding: 10px 25px;
}
.quiz-question{
	font-weight: bold;
	font-size: 1.4rem;
}

.quiz-question {
	margin: 1.2rem 0;
}



.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
	border: 2px solid rgb(28, 171, 238);
	background-color: rgb(212, 223, 230);
	padding: .7rem;
	height: 40px;
	border-radius: .4rem;
	font-weight: 500;

}

.option:hover{
	cursor: pointer;
	background-color: aqua;
}

.option .icon {
	padding: 3px;
	text-align: center;
	height: 26px;
	width: 26px;
}

.option .tick {
	border: 2px solid lightcoral;
	background-color: lightpink;
	color: lightcoral;
	border-radius: 100%;
}

.option .cross {
	border: 2px solid rgb(39, 187, 39);
	border-radius: 100%;
	background-color: lightgreen;
	color: rgb(39, 187, 39);
}

.quiz-footer {
	display: flex;
	justify-content: space-between;
	padding: .7rem 25px;
	border-top: 2px solid lightgrey;
}

.quiz-footer .quiz-counter {
	display: flex;
	flex-direction: column-reverse;
}

.quiz-counter span{
	font-weight: 500;
	font-size: 1.1rem;
	align-content: center;
	word-spacing: -0.2rem;
	display: flex;
	gap: 5px;
}

.next-quiz-btn button {
	color: aliceblue;
	background-color: rgb(6, 86, 117);
	padding: .8rem 1.2rem;
	border: none;
	border-radius: .5rem;
	font-weight: 600;
}

.next-quiz-btn:hover {
	cursor: pointer;
	opacity: .5;
}

.result {
	background-color: aliceblue;
	position: absolute;
	top: 40%;
	left: 40%;
	width: 450px;
	padding: 50px 30px;
	border-radius: 5px;
	text-align: center;
	align-items: center;
	display: none;
	flex-direction: column;	
}

.result-icon {
	color: rgb(6, 86, 117);
	font-size: 80px;
	padding-bottom: 20px;
}

.result-text {
	font-weight: bold;
}

.restart, .quit {
	padding: 5px 20px;
	border: 2px solid transparent;
	font-weight: bold;
	border-radius: 5px;
}

.restart {
	background-color: rgb(6, 86, 117);
	color: white;
}

.quit {
	border-color: lightgrey;
	color: rgb(6, 86, 117);
}

.score-text span {
	display: flex;
	margin: 1.4em;
	gap: 5px;
	font-weight: bold;
}

/* ------------------------------------ */

.active-page {
	display: block;
}
